$font: Manrope, Roboto;

@use 'vuetify' with (
  $heading-font-family: $font,
  $body-font-family: $font,
);

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import "@mdi/font/css/materialdesignicons.css";
@import "@fortawesome/fontawesome-free/css/all.css";


html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
